<div>
	<div style="text-align:center">
		<div style="position:relative;margin:auto;background-image:url({$data['from']['pic']|getImg:profile});width:150px;height:220px; background-repeat:no-repeat;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;background-position:center;"></div>
	</div>
	<div style="text-align:center;padding-top:10px;">
		<div style="font-weight:bold;font-size:24px;">
            {$data['from']['name']}
        </div>
	</div>
</div>