.nectarbtnpink {
    width: 100px;
    background: #ee0979;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
    box-sizing: border-box;
}

.nectarbtnpink:hover,.nectarbtnpink:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #ee0979;
}

.nectarbuttonblue {
    width: 100px;
    background: #C5C5F1;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}
.nectarbuttonblue:hover,.nectarbuttonblue:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #C5C5F1;
}